@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@media only screen and (max-width: 750px) {
  .sm-hidden {
    display: none;
  }
}

@media only screen and (min-width: 750px) and (max-width: 970px) {
  .md-hidden {
    display: none;
  }
}

@media only screen and (min-width: 970px) {
  .lg-hidden {
    display: none;
  }
}

/* CSS TYPOGRAPHIE RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* CSS BUTTON RESET */
html, body {
  text-decoration: none;
}

button {
  text-transform: none;
  overflow: visible;
  box-sizing: border-box;
}

/* CSS BUTTON END */
/* TYPOGRAPHIE CSS START */
html, body  {
  display: block;
  height: 100%;
  margin: 8px;
  padding: 0px;
  font-size: 20px;
  font-family: 'Titillium Web', BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: inherit;
  font-weight: bolder;
  line-height: 26.4px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  display: block;
  line-height: 1;
  font-family: 'Fjalla+One', cursive;
}

h1.small, h2.small, h3.small, h4.small, h5.small, h6.small {
  color: grey;
}

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  color: grey;
}

h1 {
  font-size: 36px;
  color: #ff7b7b;
}

h1 > small, h1.small {
  font-size: 23.4px;
  color: #ee7171;
}

h2 {
  font-size: 30px;
  color: #fd8484;
}

h2 > small, h2.small {
  font-size: 19.5px;
  color: #ec7a7a;
}

h3 {
  font-size: 24px;
  color: #ff8f8f;
}

h3 > small, h3.small {
  font-size: 15.6px;
  color: #ed8585;
}

h4 {
  font-size: 18px;
  color: #ff9696;
}

h4 > small, h4.small {
  font-size: 11.7px;
  color: #f08b8b;
}

h5 {
  font-size: 14px;
  color: #ff9b9b;
}

h5 > small, h5.small {
  font-size: 9.1px;
  color: #f08f8f;
}

h6 {
  font-size: 12px;
  color: #ffa3a3;
}

h6 > small, h6.small {
  font-size: 7.8px;
  color: #f19898;
}

/* So any small tag inside an hX.small won't get smaller */
h1.small small, h2.small small, h3.small small, h4.small small, h5.small small, h6.small small {
  font-size: 100%;
}

p {
  margin-bottom: 1em;
  line-height: 1;
}

mark {
  background-color: #A281FF;
  color: #720000;
}

del {
  text-decoration: line-through;
}

ins, u {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

ul {
  list-style-type: disc;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  overflow: hidden;
}

ul.none {
  list-style-type: none;
}

ul.square {
  list-style-type: square;
}

ul > li ul {
  margin-left: 20px;
}

ul > li.none {
  list-style-type: none;
}

ul > li.square {
  list-style-type: square;
}

ul.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  list-style: none;
  border: 1px solid transparent;
  background-color: #f5f5f5;
  border-color: #b3b3b3;
  border-radius: 4px;
}

ul.navbar:before, ul.navbar:after {
  content: " ";
  display: table;
}

ul.navbar:after {
  clear: both;
}

ul.navbar > li {
  position: relative;
  display: inline-block;
}

ul.navbar > li > a {
  line-height: 35px;
  position: relative;
  display: block;
  padding: 10px 15px;
}

ul.navbar > li > a:hover, ul.navbar > li > a:focus, ul.navbar > li > a:visited {
  text-decoration: none;
  background-color: #eeeeee;
  color: inherit;
}

ul.navbar > li.disabled > a {
  color: #777777;
}

ul.navbar > li.disabled > a:hover, ul.navbar > li.disabled > a:focus, ul.navbar > li.disabled > a:visited {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

ul.navbar > li.active > a, ul.navbar > li.active > a:hover, ul.navbar > li.active > a:focus, ul.navbar > li.active > a:visited {
  color: #555;
  background-color: #e7e7e7;
}

ul.breadcrumb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  list-style: none;
  border: 1px solid transparent;
  border-color: #b3b3b3;
  border-radius: 4px;
  background-color: #f5f5f5;
}

ul.breadcrumb:before, ul.breadcrumb:after {
  content: " ";
  display: table;
}

ul.breadcrumb:after {
  clear: both;
}

ul.breadcrumb > li {
  line-height: 35px;
  display: inline-block;
}

ul.breadcrumb > li + li:before {
  content: "/ ";
  padding: 0 5px;
  color: #ccc;
}

ul.breadcrumb > .active {
  color: #777777;
}

ul.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

ul.pagination > li {
  display: inline;
}

ul.pagination > li > a {
  position: relative;
  float: left;
  padding: 6px 10px;
  line-height: 1.42;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

ul.pagination > li:first-child > a {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

ul.pagination > li:last-child > a {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

ul.pagination > li > a:hover, ul.pagination > li > a:focus {
  z-index: 2;
  background-color: #eeeeee;
  border-color: #ddd;
}

ul.pagination > .active > a, ul.pagination > .active > a:hover, ul.pagination > .active > a:focus {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

ul.pagination > .disabled > a,
ul.pagination > .disabled > a:hover,
ul.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

li {
  display: list-item;
}

ul.square-list {
  list-style-type: square;
}

ul.nodecoration-list {
  list-style-type: none;
}

blockquote {
  margin-bottom: 0;
  padding: 20px 30px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border: 1px solid #999;
  font-family: "Times New Roman", Arial, sans-serif;
}

.code {
  padding: 20px 5vw;
  display: block;
  white-space: pre-wrap;
  margin-bottom: 1em;
  background-color: #ff5a5a;
  color: white;
}

.demo {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #ff5d5d;
  padding: 20px 2vw;
}

code {
  background-color: #F9F9F9;
  border: 1px dashed #2F6FAB;
  color: black;
  line-height: 1.1em;
  border-radius: 4px;
  line-height: 1.42857143;
  padding-left: 4px;
  padding-right: 4px;
}

pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: auto;
  font-size: 1em;
  border: 1px solid #999;
  page-break-inside: avoid;
  display: block;
  padding: 11px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

kbd {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: monospace;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff;
}

table {
  text-align: left;
  width: 100%;
  table-layout: fixed;
}

table.table_bordered tbody td, table.table_bordered thead th {
  border-right: 1px solid rgba(200, 200, 200, 0.5);
}

table.table_bordered th {
  border-top: 1px solid rgba(200, 200, 200, 0.5);
}

table.table_bordered td:first-child, table.table_bordered th:first-child {
  border-left: 1px solid rgba(200, 200, 200, 0.5);
}

table.table_striped tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

table thead tr {
  border-bottom: 2px solid rgba(200, 200, 200, 0.5);
  height: 2em;
}

table thead tr th {
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

table thead tr th:first-child {
  border-left: none;
}

table thead tr th:last-child {
  border-right: none;
}

table tbody tr {
  width: 100%;
  height: 2em;
  background-color: transparent;
}

table tbody tr td {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  padding: 0 10px;
  vertical-align: middle;
}

table tbody tr td:first-child {
  border-left: none;
}

table tbody tr td:last-child {
  border-right: none;
}

table tbody tr:hover, table tbody tr:nth-child(even):hover {
  background-color: #f0f0f0;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ececec;
  text-align: left;
}

nav {
  display: block;
}

.overview {
  color: #fff;
  text-align: center;
  background-color: #ff5a5a;
  height: 3em;
}

div {
  display: block;
  overflow: hidden;
}

img {
  max-width: 100%;
}

/* CSS TYPOGRAPHIE END */
/* Default button */
.btn, .btn-fancy, .btn-fancy:active {
  padding: 10px 1vw;
  line-height: 1;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  height: auto;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #BDC3C7;
  border-color: #BDC3C7;
  background: -webkit-linear-gradient(#BDC3C7, #BDC3C7);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#BDC3C7, #BDC3C7);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#BDC3C7, #BDC3C7);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#BDC3C7, #BDC3C7);
  /* Standard syntax */
  box-shadow: none;
}

.btn :focus, .btn-fancy :focus {
  background-color: #a1aab0;
}

.btn :hover, .btn-fancy :hover {
  background-color: #a1aab0;
}

.btn :active, .btn-fancy :active {
  background-color: #a1aab0;
}

/* Blue button */
.btn-blue, .btn-fancy-blue, .btn-fancy-blue:active {
  padding: 10px 1vw;
  line-height: 1;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  height: auto;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  background: -webkit-linear-gradient(#5bc0de, #5bc0de);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5bc0de, #5bc0de);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5bc0de, #5bc0de);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5bc0de, #5bc0de);
  /* Standard syntax */
  box-shadow: none;
}

.btn-blue :focus, .btn-fancy-blue :focus {
  background-color: #31b0d5;
}

.btn-blue :hover, .btn-fancy-blue :hover {
  background-color: #31b0d5;
}

.btn-blue :active, .btn-fancy-blue :active {
  background-color: #31b0d5;
}

/* Green button */
.btn-green, .btn-fancy-green, .btn-fancy-green:active {
  padding: 10px 1vw;
  line-height: 1;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  height: auto;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  background: -webkit-linear-gradient(#5cb85c, #5cb85c);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5cb85c, #5cb85c);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5cb85c, #5cb85c);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5cb85c, #5cb85c);
  /* Standard syntax */
  box-shadow: none;
}

.btn-green :focus, .btn-fancy-green :focus {
  background-color: #449d44;
}

.btn-green :hover, .btn-fancy-green :hover {
  background-color: #449d44;
}

.btn-green :active, .btn-fancy-green :active {
  background-color: #449d44;
}

/* Red button */
.btn-red, .btn-fancy-red {
  padding: 10px 1vw;
  line-height: 1;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  height: auto;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  background: -webkit-linear-gradient(#d9534f, #d9534f);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#d9534f, #d9534f);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#d9534f, #d9534f);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#d9534f, #d9534f);
  /* Standard syntax */
  box-shadow: none;
}

.btn-red :focus, .btn-fancy-red :focus {
  background-color: #c9302c;
}

.btn-red :hover, .btn-fancy-red :hover {
  background-color: #c9302c;
}

.btn-red :active, .btn-fancy-red :active {
  background-color: #c9302c;
}

/* Default fancy button */
.btn-fancy, .btn-fancy:active {
  box-shadow: 0 3px #767676;
}

.btn-fancy:active {
  box-shadow: 0 2px #505050;
  transform: translateY(2px);
}

/* Blue fancy button */
.btn-fancy-blue, .btn-fancy-blue:active {
  box-shadow: 0 3px #3E7A88;
}

.btn-fancy-blue:active {
  box-shadow: 0 2px #235763;
  transform: translateY(2px);
}

/* Green fancy button */
.btn-fancy-green, .btn-fancy-green:active {
  box-shadow: 0 3px #296129;
}

.btn-fancy-green:active {
  box-shadow: 0 2px #398439;
  transform: translateY(2px);
}

/* Red fancy button */
.btn-fancy-red {
  box-shadow: 0 3px #821C1A;
}

.btn-fancy-red:active {
  box-shadow: 0 2px #ac2925;
  transform: translateY(2px);
}

/* Small and large buttons */
.btn-lg {
  padding: 8px 16px;
  line-height: 1;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  height: auto;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #BDC3C7;
  border-color: #BDC3C7;
  background: -webkit-linear-gradient(#BDC3C7, #BDC3C7);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#BDC3C7, #BDC3C7);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#BDC3C7, #BDC3C7);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#BDC3C7, #BDC3C7);
  /* Standard syntax */
  box-shadow: none;
}

.btn-lg :focus {
  background-color: #a1aab0;
}

.btn-lg :hover {
  background-color: #a1aab0;
}

.btn-lg :active {
  background-color: #a1aab0;
}

.btn-sm {
  padding: 4px 12px;
  line-height: 1;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  height: auto;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #BDC3C7;
  border-color: #BDC3C7;
  background: -webkit-linear-gradient(#BDC3C7, #BDC3C7);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#BDC3C7, #BDC3C7);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#BDC3C7, #BDC3C7);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#BDC3C7, #BDC3C7);
  /* Standard syntax */
  box-shadow: none;
}

.btn-sm :focus {
  background-color: #a1aab0;
}

.btn-sm :hover {
  background-color: #a1aab0;
}

.btn-sm :active {
  background-color: #a1aab0;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  background-color: #5cb85c;
  border-color: #d6e9c6;
  color: #dff0d8;
}

.alert-info {
  background-color: #31b0d5;
  border-color: #d6e9c6;
  color: #dff0d8;
}

.alert-warning {
  background-color: #ec971f;
  border-color: #d6e9c6;
  color: #dff0d8;
}

.alert-danger {
  background-color: #c9302c;
  border-color: #d6e9c6;
  color: #dff0d8;
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
  margin-bottom: 1px;
  overflow: hidden;
  margin: 0 auto;
  overflow: hidden;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media only screen {
  .container [class*="sm-"] {
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
  }
  .container .sm-1 {
    width: 6.25%;
  }
  .container .sm-2 {
    width: 14.5%;
  }
  .container .sm-3 {
    width: 22.75%;
  }
  .container .sm-4 {
    width: 31%;
  }
  .container .sm-5 {
    width: 39.25%;
  }
  .container .sm-6 {
    width: 47.5%;
  }
  .container .sm-7 {
    width: 55.75%;
  }
  .container .sm-8 {
    width: 64%;
  }
  .container .sm-9 {
    width: 72.25%;
  }
  .container .sm-10 {
    width: 80.5%;
  }
  .container .sm-11 {
    width: 88.75%;
  }
  .container .sm-12 {
    width: 97%;
  }
  .container .sm-offset-1 {
    margin-left: 9.33333%;
  }
  .container .sm-offset-2 {
    margin-left: 17.66667%;
  }
  .container .sm-offset-3 {
    margin-left: 26%;
  }
  .container .sm-offset-4 {
    margin-left: 34.33333%;
  }
  .container .sm-offset-5 {
    margin-left: 42.66667%;
  }
  .container .sm-offset-6 {
    margin-left: 51%;
  }
  .container .sm-offset-7 {
    margin-left: 59.33333%;
  }
  .container .sm-offset-8 {
    margin-left: 67.66667%;
  }
  .container .sm-offset-9 {
    margin-left: 76%;
  }
  .container .sm-offset-10 {
    margin-left: 84.33333%;
  }
  .container .sm-offset-11 {
    margin-left: 92.66667%;
  }
}

@media only screen and (min-width: 750px) {
  .container [class*="md-"] {
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
  }
  .container .md-1 {
    width: 6.25%;
  }
  .container .md-2 {
    width: 14.5%;
  }
  .container .md-3 {
    width: 22.75%;
  }
  .container .md-4 {
    width: 31%;
  }
  .container .md-5 {
    width: 39.25%;
  }
  .container .md-6 {
    width: 47.5%;
  }
  .container .md-7 {
    width: 55.75%;
  }
  .container .md-8 {
    width: 64%;
  }
  .container .md-9 {
    width: 72.25%;
  }
  .container .md-10 {
    width: 80.5%;
  }
  .container .md-11 {
    width: 88.75%;
  }
  .container .md-12 {
    width: 97%;
  }
  .container .md-offset-1 {
    margin-left: 9.33333%;
  }
  .container .md-offset-2 {
    margin-left: 17.66667%;
  }
  .container .md-offset-3 {
    margin-left: 26%;
  }
  .container .md-offset-4 {
    margin-left: 34.33333%;
  }
  .container .md-offset-5 {
    margin-left: 42.66667%;
  }
  .container .md-offset-6 {
    margin-left: 51%;
  }
  .container .md-offset-7 {
    margin-left: 59.33333%;
  }
  .container .md-offset-8 {
    margin-left: 67.66667%;
  }
  .container .md-offset-9 {
    margin-left: 76%;
  }
  .container .md-offset-10 {
    margin-left: 84.33333%;
  }
  .container .md-offset-11 {
    margin-left: 92.66667%;
  }
}

@media only screen and (min-width: 970px) {
  .container [class*="lg-"] {
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
  }
  .container .lg-1 {
    width: 6.25%;
  }
  .container .lg-2 {
    width: 14.5%;
  }
  .container .lg-3 {
    width: 22.75%;
  }
  .container .lg-4 {
    width: 31%;
  }
  .container .lg-5 {
    width: 39.25%;
  }
  .container .lg-6 {
    width: 47.5%;
  }
  .container .lg-7 {
    width: 55.75%;
  }
  .container .lg-8 {
    width: 64%;
  }
  .container .lg-9 {
    width: 72.25%;
  }
  .container .lg-10 {
    width: 80.5%;
  }
  .container .lg-11 {
    width: 88.75%;
  }
  .container .lg-12 {
    width: 97%;
  }
  .container .lg-offset-1 {
    margin-left: 9.33333%;
  }
  .container .lg-offset-2 {
    margin-left: 17.66667%;
  }
  .container .lg-offset-3 {
    margin-left: 26%;
  }
  .container .lg-offset-4 {
    margin-left: 34.33333%;
  }
  .container .lg-offset-5 {
    margin-left: 42.66667%;
  }
  .container .lg-offset-6 {
    margin-left: 51%;
  }
  .container .lg-offset-7 {
    margin-left: 59.33333%;
  }
  .container .lg-offset-8 {
    margin-left: 67.66667%;
  }
  .container .lg-offset-9 {
    margin-left: 76%;
  }
  .container .lg-offset-10 {
    margin-left: 84.33333%;
  }
  .container .lg-offset-11 {
    margin-left: 92.66667%;
  }
}

.container .grid-row {
  width: 100%;
  overflow: hidden;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.row {
  margin: 3vh 3vw;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #777;
  text-align: center;
  padding: 10px 0;
  display: none;
  float: left;
  width: 50px;
}

input[type=checkbox] {
  display: none;
}

@media only screen and (max-width: 462px) {
  .show-menu {
    display: block;
  }
  ul.navbar {
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 0.5s ease;
    width: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  ul.navbar.li {
    border-bottom: 2px solid transparent;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
  }
  #navbar-menu:checked ~ ul.navbar {
    opacity: 1;
    height: auto;
    width: auto;
    visibility: visible;
  }
}
 

 /*# sourceMappingURL= plain.css.map */