@mixin btn-struct($padding-vertical: 10px, 
                  $padding-horizontal: 1vw, 
                  $font-size: 14px, 
                  $line-height: 1, 
                  $border-radius: 2px) {
    padding: $padding-vertical $padding-horizontal;
    line-height: $line-height;
    border-radius: $border-radius;
    text-align: center;
    cursor: pointer;
    outline: none;
    height: auto;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

@mixin btn-text ($color: #000000, 
                 $font-size: 14px) {
    font-size: $font-size;
    color: $color;
} 

@mixin btn-style($background: #CCCBCB, 
                 $border: transparent, 
                 $gradient1: transparent, 
                 $gradient2: transparent, 
                 $box-shadow: none) {
    background-color: $background;
    border-color: $border;

    background: -webkit-linear-gradient($gradient1, $gradient2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($gradient1, $gradient2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($gradient1, $gradient2); /* For Firefox 3.6 to 15 */
    background: linear-gradient($gradient1, $gradient2); /* Standard syntax */
    
    box-shadow: $box-shadow;

    :focus {
      background-color: darken($background, 10%);
    }
    :hover {
      background-color: darken($background, 10%);
    }
    :active {
      background-color: darken($background, 10%);
    }
}

@mixin btn($padding-vertical: 0.6em, 
           $padding-horizontal: 1em, 
           $font-size: 14px, 
           $line-height: 1, 
           $border-radius: 2px,
           $font-size: 14px, 
           $color: #000000,
           $background: #CCCBCB, 
           $border: transparent, 
           $gradient1: inherit, 
           $gradient2: inherit, 
           $box-shadow: none) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
    outline: none;
    text-align: center;

    font-size: $font-size;
    color: $color;

    background-color: $background;
    border-color: $border;

    background: -webkit-linear-gradient($gradient1, $gradient2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($gradient1, $gradient2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($gradient1, $gradient2); /* For Firefox 3.6 to 15 */
    background: linear-gradient($gradient1, $gradient2); /* Standard syntax */
    
    box-shadow: $box-shadow;

    &:focus {
      background-color: darken($background, 10%);
          border-color: darken($border, 25%);
    }
    &:hover {
      background-color: darken($background, 10%);
          border-color: darken($border, 12%);
    }
    &:active {
      background-color: darken($background, 10%);
          border-color: darken($border, 12%);
    }
}